@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Kanit:wght@200;400;700;800;900&family=Poiret+One&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* h1 {
  font-size: calc(3vh + 10px);
}
h2 {
  font-size: calc(2vh + 6px);
} */

:root {
  /* static measurements */
  --nav-height: 10vh;

  --font1: "Exo 2", sans-serif;
  --font2: "Poiret One", cursive;
  --font3: "Josefin Sans", sans-serif;
  --font4: "Kanit", sans-serif;

  --bg-col1: #fff8f0;
  --color-font: #373737;
}

/* navbar */

nav {
  position: fixed;
  background-color: var(--bg-col1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 1rem;
  height: var(--nav-height);
  width: 100vw;
  z-index: 9999;
  top: 0;
}

.logo {
  width: fit-content;
  height: fit-content;
}

.logo img {
  height: 4vh;
}

.links {
  display: flex;
  gap: 1rem;
}
.items a {
  text-decoration: none;
  color: var(--color-font);
}
.items {
  width: fit-content;
  height: 100%;
  font-family: var(--font1);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.items:hover {
  cursor: pointer;
}

/* End Navbar */

/* Main body section */
.sections {
  width: 100vw;
  height: max-content;
  margin-top: var(--nav-height);
  background-color: aquamarine;
  z-index: -1;
  padding: 0.5rem 0;
}

.sections > div {
  width: 100vw;
  height: calc(100vh - var(--nav-height));
}
/* End main body section */

/* Section 1 */
.sec1 {
  position: relative;
}
.sec1 img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
}
/* End Section 1 */
